.navbar {
    background-color: #f80   /* #f80  #6610f2  #2a9fd6; Adjust the color to match the blue from the Cyborg theme */
}

/* Targeting the text on the navbar */
.navbar .navbar-nav .nav-link {
    color: black !important;
}

/* If you have a brand or title on the navbar */
.navbar-brand {
    color: black !important;
}
